.tagline {
	width:480px;
	font-size:3.0em;
	line-height:110%;
	padding-right: .5em;
	float:right;
	position:relative;
	top:-4.8em;
	color:#dcdcdc;
	text-align: right;
	z-index:2;
}

@media screen and (max-width: 480px){
	width:280px;
	font-size:1.5em;
}